* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    margin-top: 30px;
    height: 80px;
    background-color: rgb(104, 26, 26);
    padding: 15px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 88px;
    margin-right: 15px;
}

.otp-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 80px auto ;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
}

.otp-input-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.otp-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.verify-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.verify-btn:hover {
    background-color: #0056b3;
}

.resend-link {
    margin-top: 20px;
    font-size: 14px;
}

.resend-link a {
    color: #007bff;
    text-decoration: none;
}

.resend-link a:hover {
    text-decoration: underline;
}
