<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('admin_registration') }}" method="POST">
            <h1>Admin Registration</h1>
            
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter your email" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your password" required><br>

            <input type="submit" value="Register" class="register-btn">
        </form>
    </div>
</body>
</html>
